.talentPointsContainer {
  background-color: rgb(6, 6, 11);
  width: fit-content;
  height: fit-content;
  text-align: center;
  padding: 15px 20px;
  margin: auto;
}

.availableTalentPoints {
  color: white;
  margin: 0;
}

.talentPointsTitle {
  color: rgba(120, 149, 187, 1);
  font-weight: 400;
  margin: 0;
}

.notEnoughResources {
  animation: alertWiggle 1s;
}

@keyframes alertWiggle {
  0% {
    transform: rotate(-10deg);
    font-size: 20px;
  }
  25% {
    transform: rotate(10deg);
    font-size: 20px;
  }
  50% {
    transform: rotate(-10deg);
    font-size: 20px;
  }
  75% {
    transform: rotate(10deg);
    font-size: 20px;
  }
  90% {
    transform: rotate(-10deg);
    font-size: 20px;
  }
  100% {
    transform: rotate(0deg);
  }
}

.inactive {
  opacity: 0.7;
}
