:root {
  --sprite-offset-y: 50px;
}

@property --topColor {
  syntax: "<color>";
  initial-value: rgb(88, 88, 88);
  inherits: false;
}

@property --secondColor {
  syntax: "<color>";
  initial-value: rgb(52, 52, 52);
  inherits: false;
}

@property --startBottomColor {
  syntax: "<color>";
  initial-value: rgb(87, 88, 88);
  inherits: false;
}

@property --bottomColor {
  syntax: "<color>";
  initial-value: rgb(57, 57, 57);
  inherits: false;
}

@property --topColorStop {
  syntax: "<percentage>";
  initial-value: 25%;
  inherits: false;
}

.shinyBorder {
  background: linear-gradient(
    180deg,
    var(--topColor) var(--topColorStop),
    var(--secondColor) 55%,
    var(--startBottomColor) 71%,
    var(--bottomColor) 100%
  );
  height: fit-content;
  padding: 3px;
  transition: --topColor 300ms, --secondColor 300ms, --startBottomColor 300ms,
    --bottomColor 300ms;
}

.shinyBorder.active {
  --topColor: rgba(133, 209, 234, 1);
  --topColorStop: 55%;
  --secondColor: rgba(89, 89, 89, 1);
  --startBottomColor: rgba(88, 95, 100, 1);
  --bottomColor: rgba(133, 209, 234, 1);
  height: fit-content;
  padding: 3px;
}

.skill {
  width: 50px;
  height: 50px;
  background-image: url("../../../../img/talent-icons-sprite.png");
}

.stack {
  --sprite-x: 0;
}
.cutlery {
  --sprite-x: 50px;
}
.cake {
  --sprite-x: 100px;
}
.crown {
  --sprite-x: 150px;
}
.boat {
  --sprite-x: 200px;
}
.snorkeling {
  --sprite-x: 250px;
}
.lightning {
  --sprite-x: 300px;
}
.skull {
  --sprite-x: 350px;
}

.stack,
.cutlery,
.cake,
.crown,
.boat,
.snorkeling,
.lightning,
.skull {
  background-position: var(--sprite-x) 0;
}

.stack.inactive,
.cutlery.inactive,
.cake.inactive,
.crown.inactive,
.boat.inactive,
.snorkeling.inactive,
.lightning.inactive,
.skull.inactive {
  background-position: var(--sprite-x) var(--sprite-offset-y);
  /* border: 3px solid grey; */
  &:hover {
    background-position: var(--sprite-x) 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 360px) {
  :root {
    --sprite-offset-y: 37px;
  }
  .skill {
    width: 37px;
    height: 37px;
    background-image: url("../../../../img/talent-icons-sprite.png");
    background-size: 296px;
  }
  .stack {
    --sprite-x: 0;
  }
  .cutlery {
    --sprite-x: 37px;
  }
  .cake {
    --sprite-x: 74px;
  }
  .crown {
    --sprite-x: 111px;
  }
  .boat {
    --sprite-x: 148px;
  }
  .snorkeling {
    --sprite-x: 185px;
  }
  .lightning {
    --sprite-x: 222px;
  }
  .skull {
    --sprite-x: 259px;
  }
}

@media screen and (max-width: 245px) {
  :root {
    --sprite-offset-y: 25px;
  }
  .skill {
    width: 25px;
    height: 25px;
    background-image: url("../../../../img/talent-icons-sprite.png");
    background-size: 200px;
  }
  .stack {
    --sprite-x: 0;
  }
  .cutlery {
    --sprite-x: 25px;
  }
  .cake {
    --sprite-x: 50px;
  }
  .crown {
    --sprite-x: 75px;
  }
  .boat {
    --sprite-x: 100px;
  }
  .snorkeling {
    --sprite-x: 125px;
  }
  .lightning {
    --sprite-x: 150px;
  }
  .skull {
    --sprite-x: 175px;
  }
}

/* Use SASS/SCSS if we want to support legacy browsers older than 2016*/
