.runeTreeContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 3rem;
}

@media screen and (max-width: 680px) {
  .runeTreeContainer {
    grid-template-columns: auto;
  }
}

.runeTree {
  display: flex;
}

.branch {
  height: 10px;
  width: 5rem;
  background-color: rgba(32, 30, 30, 0.7);
  border-top: 1px solid rgba(54, 53, 53, 0.7);
  border-bottom: 1px solid rgba(54, 53, 53, 0.7);
  margin: auto 0;
  transition: background-color 200ms linear;
}

.runeBranchContainer {
  display: flex;
}

@media screen and (max-width: 540px) {
  .branch {
    width: 3rem;
  }
}

@media screen and (max-width: 445px) {
  .branch {
    width: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .branch {
    width: 1rem;
  }
}

.branch.active {
  background-color: rgb(45, 45, 45);
  border-top: 1px solid rgb(70, 70, 70);
  border-bottom: 1px solid rgb(70, 70, 70);
}

.runeTreeTitle {
  color: white;
  font-weight: 300;
  text-transform: uppercase;
}
