.runeTreeContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 3rem;
}

@media screen and (max-width: 680px) {
  .loadoutsContainer {
    grid-template-columns: auto;
  }
}

.runeTree {
  display: flex;
}

.branch {
  height: 10px;
  width: 5rem;
  background-color: rgb(32, 30, 30);
  border-top: 1px solid rgb(54, 53, 53);
  border-bottom: 1px solid rgb(54, 53, 53);
  margin: auto 0;
  transition: background-color 200ms linear;
}

.runeBranchContainer {
  display: flex;
}

@media screen and (max-width: 540px) {
  .branch {
    width: 3rem;
  }
}

@media screen and (max-width: 445px) {
  .branch {
    width: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .branch {
    width: 1rem;
  }
}

.branch.active {
  background-color: rgb(87, 83, 83);
  border-top: 1px solid rgb(137, 130, 130);
  border-bottom: 1px solid rgb(137, 130, 130);
}

.runeTreeTitle {
  color: white;
  font-weight: 300;
  text-transform: uppercase;
}
