.talentPointsContainer {
  background-color: rgb(6, 6, 11);
  width: fit-content;
  height: fit-content;
  text-align: center;
  padding: 15px 20px;
  margin: auto;
}

.availableTalentPoints {
  color: white;
  margin: 0;
}

.talentPointsTitle {
  color: rgb(133, 209, 234);
  font-weight: 400;
  margin: 0;
}

.noTalentPointsAvailable {
  color: red;
}

.inactive {
  opacity: 0.7;
}
